@import url(form.css)
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 10; /* Ensure sidebar is above other elements */
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.brush-size-buttons button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
}

.brush-size-buttons button:hover {
    background-color: #ccc;
}

.color-picker-buttons button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 2px;
    display: inline-block;
    transition: transform 0.1s; /* Add a transition for the hover effect */
}

.color-picker-buttons button:hover {
    transform: scale(1.1); /* Increase size by 10% on hover */
}

/* Color options */
.color-picker-buttons .black {
    background-color: black;
}

.color-picker-buttons .red {
    background-color: red;
}

.color-picker-buttons .green {
    background-color: green;
}

.color-picker-buttons .blue {
    background-color: blue;
}

.color-picker-buttons .yellow {
    background-color: rgb(227, 227, 2);
}

.color-picker-buttons .white {
    background-color: rgb(203, 203, 203);
    border: 1px solid black; /* Add a border for better visibility */
}

.symmetry-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    
}

.mirror-incrementor{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mirror-buttons{
    display: flex;
    flex-direction: row;
}
.mirror-buttons button{
    margin-left: 5px;
    margin-right: 5px;
}
.symmetry-switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
}

.symmetry-switch label {
    font-size: 16px;
    font-weight: bold;
}
/*New code goes below this line*/
#canvasContainer {
    background-size: cover; /* or contain */
    background-repeat: no-repeat; /* or repeat */
    width: 100%;
    display: flex;
    justify-content: center;
}
